<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <strong> Pregunta 6 de 6 </strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="eyCards">
        <ion-card id="EyQuestion" >
          <ion-text id="EyText" >
            Cuéntame una situación donde hayas inspirado a tus compañeros de trabajo o de escuela ¿Cómo fue el resultado?
          </ion-text>
          
        </ion-card>
        <ion-card class="small-card">
          Previsualizacion
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <section>
          
          <ion-button expand="block" class="blackTheme"><ion-icon name="disc-outline" ></ion-icon></ion-button>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>